<div class="bg-smoke-white border border-light-gray p-3" style="box-shadow: 0 0 4px, 0 0 4px;">
    <div class="d-flex flex-row justify-content-start border-bottom border-black border-3 mb-2">
        <h3>Metadata Management</h3>
    </div>
    <div class="pb-2">
        <button 
            class="btn btn-light border border-light-gray" 
            [disabled]="noVariants" 
            (click)="openVariantsModal()"
            >
                <fa-icon [icon]="faCopy" [size]="'sm'"></fa-icon>
                Manage Duplicates
        </button>
        <button
            class="btn btn-light border border-light-gray ms-2" 
            [disabled]="data.length == 0"
            (click)="exportExcel()"
            >
                <fa-icon [icon]="faFileExcel" [size]="'sm'"></fa-icon> 
                Download Excel
        </button>
    </div>
    <div>
        <p-table 
            #dt
            [style]="{'display':'flex', 'max-height':'70vh'}"
            [value]="data" 
            [paginator]="false"
            [sortMode]="'multiple'"
            [customSort]="true"
            [loading]="loading"
            [tableStyle]="{'width': '220rem'}"
            (sortFunction)="customSort($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th [width]="250">
                        DOI
                    </th>
                    <th [width]="550">
                        Title
                    </th>
                    <th pSortableColumn="publicationYear" [width]="150">
                        Year
                        <p-sortIcon field="publicationYear"/>
                    </th>
                    <th pSortableColumn="publicationCitationsCount"[width]="300">
                        Citations Count
                        <p-sortIcon field="publicationsCitationsCount"/>
                    </th>
                    <th [width]="400">
                        Keywords
                    </th>
                    <th [width]="400">
                        Fields
                    </th>
                    <th pSortableColumn="authorFirstName" [width]="200">
                        First Name 
                        <p-sortIcon field="authorFirstName"/>
                    </th>
                    <th pSortableColumn="authorLastName" [width]="200">
                        Last Name
                        <p-sortIcon field="authorLastName"/>
                    </th>
                    <th [width]="1100">
                        Fields Of Study
                    </th>
                    <th pSortableColumn="authorCitationsCount" [width]="400">
                        Author Citations Count
                        <p-sortIcon field="autorCitationCount"/>
                    </th>
                    <th pSortableColumn="authorhIndex" [width]="150">
                        hIndex
                        <p-sortIcon field="authorhIndex"/>
                    </th>
                    <th pSortableColumn="organizationName" [width]="250">
                        Organization
                        <p-sortIcon field="organizationName"/>
                    </th>
                    <th [width]="200">
                        Primary Type
                    </th>
                    <th [width]="300">
                        Secondary Type
                    </th>
                    <th [width]="150">
                        City
                    </th>
                    <th [width]="200">
                        Country
                    </th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter 
                            #doiFilter
                            field="doi">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by DOI" 
                                    (input)="onFilterData($event, 'doi', entity.PUBLICATION, $any(doiFilter.dt.filters['doi']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter 
                            #titleFilter
                            field="title">
                            <ng-template pTemplate="filter">
                                <input 
                                type="text"
                                class="text-input"
                                placeholder="Filter by title"
                                (input)="onFilterData($event, 'title', entity.PUBLICATION, $any(titleFilter.dt.filters['title']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #yearFilter
                            field="year"
                            type="numeric">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by year"
                                    (input)="onFilterData($event, 'year', entity.PUBLICATION, $any(yearFilter.dt.filters['year']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #citationsCountFilter
                            field="citations_count"
                            type="numeric">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by citations count"
                                    (input)="onFilterData($event, 'citations_count', entity.PUBLICATION, $any(citationsCountFilter.dt.filters['year']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #keywordsFilter
                            field="keywords">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by keywords"
                                    (input)="onFilterData($event, 'keywords', entity.PUBLICATION, $any(keywordsFilter.dt.filters['keywords']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #fieldsFilter
                            field="fields">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by fields"
                                    (input)="onFilterData($event, 'fields', entity.PUBLICATION, $any(fieldsFilter.dt.filters['fields']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #firstNameFilter
                            field="first_name">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by first name"
                                    (input)="onFilterData($event, 'first_name', entity.AUTHOR, $any(firstNameFilter.dt.filters['first_name']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #lastNameFilter
                            field="last_name">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by last name"
                                    (input)="onFilterData($event, 'last_name', entity.AUTHOR, $any(lastNameFilter.dt.filters['last_name']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #fieldsOfStudyFilter
                            field="fields_of_study">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by fields of study"
                                    (input)="onFilterData($event, 'fields_of_study', entity.AUTHOR, $any(fieldsOfStudyFilter.dt.filters['fields_of_study']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #citationsCountFilter
                            field="citations_count"
                            type="numeric">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by citations count"
                                    (input)="onFilterData($event, 'citations_count', entity.AUTHOR, $any(citationsCountFilter.dt.filters['citations_count']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #hIndexCountFilter
                            field="h_index"
                            type="numeric">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by hIndex"
                                    (input)="onFilterData($event, 'hIndex', entity.AUTHOR, $any(hIndexCountFilter.dt.filters['h_index']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #organizationNameFilter
                            field="name">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by organization name"
                                    (input)="onFilterData($event, 'name', entity.ORGANIZATION, $any(organizationNameFilter.dt.filters['name']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #primaryTypeFilter
                            field="primary_type">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by primary type"
                                    (input)="onFilterData($event, 'primary_type', entity.ORGANIZATION, $any(primaryTypeFilter.dt.filters['primary_type']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #secondaryTypeFilter
                            field="secondary_type">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by secondary type"
                                    (input)="onFilterData($event, 'secondary_type', entity.ORGANIZATION, $any(secondaryTypeFilter.dt.filters['secondary_type']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #cityFilter
                            field="city">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by city"
                                    (input)="onFilterData($event, 'city', entity.ORGANIZATION, $any(cityFilter.dt.filters['city']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #countryFilter
                            field="country">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by country"
                                    (input)="onFilterData($event, 'country', entity.ORGANIZATION, $any(countryFilter.dt.filters['country']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.publicationDoi}}</td>
                    <td>
                        @if(item.publicationTitle.length <= 30) {
                            {{item.publicationTitle}}
                        } @else {
                            <div style="cursor: pointer;" (click)="onClickViewDetails('Title', item.publicationTitle)">
                                {{item.publicationTitle.substring(0, 31)}}...
                            </div>    
                        }
                    </td>
                    <td>{{item.publicationYear}}</td>
                    <td>{{item.publicationCitationsCount}}</td>
                    <td>
                        @if(item.publicationKeywords.length <= 30) {
                            {{item.publicationKeywords}}
                        } @else {
                            <div style="cursor: pointer;" (click)="onClickViewDetails('Keywords', item.publicationKeywords)">
                                {{item.publicationKeywords.substring(0, 31)}}...
                            </div>    
                        }
                    </td>
                    <td>
                        @if(item.publicationFields.length <= 30) {
                            {{item.publicationFields}}
                        } @else {
                            <div style="cursor: pointer;" (click)="onClickViewDetails('Fields', item.publicationFields)">
                                {{item.publicationFields.substring(0, 31)}}...
                            </div>    
                        }
                    </td>
                    <td>{{item.authorFirstName}}</td>
                    <td>{{item.authorLastName}}</td>
                    <td>
                        @if(item.authorFieldsOfStudy.length <= 30) {
                            {{item.publicationFieldsOfStudy}}
                        } @else {
                            <div style="cursor: pointer;" (click)="onClickViewDetails('Fields Of Study', item.authorFieldsOfStudy)">
                                {{item.authorFieldsOfStudy.substring(0, 31)}}...
                            </div>    
                        }
                    </td>
                    <td>{{item.authorCitationsCount}}</td>
                    <td>{{item.authorhIndex}}</td>
                    <td>{{item.organizationName}}</td>
                    <td>{{item.organizationType1}}</td>
                    <td>{{item.organizationType2}}</td>
                    <td>{{item.organizationCity}}</td>
                    <td>{{item.organizationCountry}}</td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator
            [rows]="pageSize"
            [rowsPerPageOptions]="pageSizes"
            [totalRecords]="total"
            (onPageChange)="onPageSelection($event)">
        </p-paginator>
    </div>
</div>