<div class="bg-smoke-white border border-light-gray p-3" style="box-shadow: 0 0 4px, 0 0 4px;">
    <div class="d-flex flex-row justify-content-start border-bottom border-black border-3 mb-2">
        <h3>Data Grid</h3>
    </div>
    <div>
        <p-table 
            #dt
            [value]="data" 
            [paginator]="true"
            [rows]="5" 
            [rowsPerPageOptions]="[5,10,20]"
            [globalFilterFields]="['firstName','lastName','age']"
            [sortMode]="'multiple'"
            [customSort]="true"
            [loading]="loading"
            [tableStyle]="{'min-width': '220rem'}"
            (onPage)="onPageSelection($event)"
            (onFilter)="onFilterSelection($event)"
            (sortFunction)="customSort($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th [width]="250">
                        DOI
                    </th>
                    <th [width]="550">
                        Title
                    </th>
                    <th pSortableColumn="publicationYear" [width]="150">
                        Year
                        <p-sortIcon field="publicationYear"/>
                    </th>
                    <th pSortableColumn="publicationCitationsCount"[width]="300">
                        Citations Count
                        <p-sortIcon field="publicationsCitationsCount"/>
                    </th>
                    <th [width]="400">
                        Keywords
                    </th>
                    <th [width]="400">
                        Fields
                    </th>
                    <th pSortableColumn="authorFirstName" [width]="200">
                        First Name 
                        <p-sortIcon field="authorFirstName"/>
                    </th>
                    <th pSortableColumn="authorLastName" [width]="200">
                        Last Name
                        <p-sortIcon field="authorLastName"/>
                    </th>
                    <th [width]="1100">
                        Fields Of Study
                    </th>
                    <th pSortableColumn="authorCitationsCount" [width]="400">
                        Author Citations Count
                        <p-sortIcon field="autorCitationCount"/>
                    </th>
                    <th pSortableColumn="authorhIndex" [width]="150">
                        hIndex
                        <p-sortIcon field="authorhIndex"/>
                    </th>
                    <th pSortableColumn="organizationName" [width]="250">
                        Organization
                        <p-sortIcon field="organizationName"/>
                    </th>
                    <th [width]="200">
                        Primary Type
                    </th>
                    <th [width]="300">
                        Secondary Type
                    </th>
                    <th [width]="150">
                        City
                    </th>
                    <th [width]="200">
                        Country
                    </th>
                </tr>
                <!-- <tr>
                    <th>
                        <p-columnFilter 
                            #firstNameFilter
                            field="firstName">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by first name" 
                                    (input)="onFilterData($event, 'firstName', $any(firstNameFilter.dt.filters['firstName']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter 
                            #lastNameFilter
                            field="lastName">
                            <ng-template pTemplate="filter">
                                <input 
                                type="text"
                                class="text-input"
                                placeholder="Filter by last name"
                                (input)="onFilterData($event, 'lastName', $any(lastNameFilter.dt.filters['lastName']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter 
                            #ageFilter
                            field="age"
                            type="numeric">
                            <ng-template pTemplate="filter">
                                <input 
                                    type="text"
                                    class="text-input"
                                    placeholder="Filter by age"
                                    (input)="onFilterData($event, 'age', $any(ageFilter.dt.filters['age']).matchMode)">
                            </ng-template>
                        </p-columnFilter>
                    </th>
                </tr> -->
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.publicationDoi}}</td>
                    <td>{{item.publicationTitle}}</td>
                    <td>{{item.publicationYear}}</td>
                    <td>{{item.publicationCitationsCount}}</td>
                    <td>{{item.publicationKeywords}}</td>
                    <td>{{item.publicationFields}}</td>
                    <td>{{item.authorFirstName}}</td>
                    <td>{{item.authorLastName}}</td>
                    <td>{{item.authorFieldsOfStudy}}</td>
                    <td>{{item.authorCitationsCount}}</td>
                    <td>{{item.authorhIndex}}</td>
                    <td>{{item.organizationName}}</td>
                    <td>{{item.organizationType1}}</td>
                    <td>{{item.organizationType2}}</td>
                    <td>{{item.organizationCity}}</td>
                    <td>{{item.organizationCountry}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>