:host {
    position: fixed;
    top: 10%;
    right: 0;
    margin: .5em;
    z-index: 1200;
}

.fa {
    font-size: 18px;
    color: white;
    margin-right: .5rem;
}

.toast-text {
    color: white;
    font-size: 18px;
}

.success {
    background-color: #12bd1b;
}

.error {
    background-color: #e21111;
}

.info {
    background-color: #115ae2;
}

.warning {
    background-color: #e28011;
}