<generic-modal [title]="'Variants Management'" [showSecondButton]="false" (onCloseClicked)="onClose()" (onSubmitClicked)="onSubmit()">
    <div modalContent>
        <p-tabView>
            <p-tabPanel [disabled]="variants.publicationsVariants.originals.length == 0">
                <ng-template pTemplate="header">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="d-flex align-items-center justify-content-center rounded-circle bg-white border border-info text-info me-2" 
                            style="height: 20px; width: 20px; font-size: 10px;">
                                {{variants.publicationsVariants.originals.length}}
                        </div>
                        <fa-icon [icon]="faBook" class="me-1"></fa-icon>
                        Publications
                    </div>
                </ng-template>
                <div class="d-flex flex-row justify-content-evenly">
                    <p-table
                        class="variants-table"
                        [value]="variants.publicationsVariants.originals" 
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllPublicationsVariants($event, true)">
                                    </th>
                                    <th [width]="1000">
                                        Title
                                    </th>
                                    <th [width]="300">
                                        Citations Count
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.citationsCount}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                    <p-table 
                        class="variants-table"
                        [value]="variants.publicationsVariants.duplicates"
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllPublicationsVariants($event, false)">
                                    </th>
                                    <th [width]="1000">
                                        Title
                                    </th>
                                    <th [width]="300">
                                        Citations Count
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.title}}</td>
                                    <td>{{item.citationsCount}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="variants.authorsVariants.originals.length == 0">
                <ng-template pTemplate="header">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="d-flex align-items-center justify-content-center rounded-circle bg-white border border-info text-info me-2" 
                            style="height: 20px; width: 20px; font-size: 10px;">
                                {{variants.authorsVariants.originals.length}}
                        </div>
                        <fa-icon [icon]="faUser" class="me-1"></fa-icon>
                        Authors
                    </div>
                </ng-template>
                <div class="d-flex flex-row justify-content-evenly">
                    <p-table 
                        class="variants-table"
                        [value]="variants.authorsVariants.originals"
                        [(selection)]="selectedVariants"
                        [selectionMode]="'multiple'"
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllAuthorsVariants($event, true)">
                                    </th>
                                    <th [width]="500">
                                        First Name
                                    </th>
                                    <th [width]="500">
                                        Last Name
                                    </th>
                                    <th [width]="120">
                                        hIndex
                                    </th>
                                    <th [width]="120">
                                        Citations Count
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.hIndex}}</td>
                                    <td>{{item.citationsCount}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                    <p-table 
                        class="variants-table"
                        [value]="variants.authorsVariants.duplicates"
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllAuthorsVariants($event, false)">
                                    </th>
                                    <th [width]="500">
                                        First Name
                                    </th>
                                    <th [width]="500">
                                        Last Name
                                    </th>
                                    <th [width]="120">
                                        hIndex
                                    </th>
                                    <th [width]="120">
                                        Citations Count
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.firstName}}</td>
                                    <td>{{item.lastName}}</td>
                                    <td>{{item.hIndex}}</td>
                                    <td>{{item.citationsCount}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="variants.organizationsVariants.originals.length == 0">
                <ng-template pTemplate="header">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="d-flex align-items-center justify-content-center rounded-circle bg-white border border-info text-info me-2" 
                            style="height: 20px; width: 20px; font-size: 10px;">
                                {{variants.organizationsVariants.originals.length}}
                        </div>
                        <fa-icon [icon]="faBuilding" class="me-1"></fa-icon>
                        Organizations
                    </div>
                </ng-template>
                <div class="d-flex flex-row justify-content-evenly">
                    <p-table 
                        class="variants-table"
                        [value]="variants.organizationsVariants.originals"
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllOrganizationsVariants($event, true)">
                                    </th>
                                    <th [width]="1000">
                                        Name
                                    </th>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                    <p-table 
                        class="variants-table"
                        [value]="variants.organizationsVariants.duplicates"
                        [paginator]="true"
                        [rows]="pageSize">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <input type="checkbox" style="height: 20px; width: 20px;" (click)="onSelectAllOrganizationsVariants($event, false)">
                                    </th>
                                    <th [width]="1000">
                                        Name
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td><input type="checkbox" [checked]="item.selected" (click)="onSelectVariant($event, item)"></td>
                                    <td>{{item.name}}</td>
                                </tr>
                            </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</generic-modal>
