<div class="d-flex flex-column justify-content-start align-items-center mt-6 pb-5">
    <h1 class="fw-bolder mb-2">Your Search Begines Here!</h1>
    <h5 class="mb-4">Open the form and submit your search criteria to fetch metadata for the publications you wish</h5>
    <button type="button" class="btn btn-secondary" (click)="openSearchForm()">Open Form</button>
    <app-metadata-table 
        class="w-85 mt-5" 
        [data]="data" 
        [loading]="loading" 
        [total]="total" 
        [noVariants]="noVariants"
        [variants]="variants" 
        [selectedVariants]="searchCriteria.exclude" 
        (onPageChange)="handlePageChange($event)" 
        (onFiltersChange)="handleFilterChange($event)" 
        (onVariantsSelection)="handleVariantsSelection($event)"
        (onExportExcel)="handleExportExcel()">
    </app-metadata-table>
</div>
