<div class="w-100 d-flex flex-column justify-content-start align-items-center pt-5 pb-5">
    <img src="../../assets/img/hplogo.jpg" class="mt-5" style="height: 175px; width: 540px;">
    <div class="w-75 d-flex flex-row justify-content-center flex-wrap vh-50">
        @for(card of cards; track card) {
            <div role="button" class="border-light-gray mt-4 ms-4" style="width: 30%; height: fit-content; min-height: 150px; box-shadow: 0 0 3px, 0 0 3px; cursor: pointer;"
                [@cardHover]="card.hoverState">
                <div class="d-flex flex-column justify-content-start align-items-center p-2" (mouseenter)="card.hoverState='hovered'" (mouseleave)="card.hoverState='notHovered'" >
                    <fa-icon [icon]="card.icon" [size]="'xl'"></fa-icon>
                    <span class="white-space-break-all mt-3 text-center text-wrap fs-6">{{card.text}}</span>
                </div>
            </div>
        }
    </div>
</div>
